h1{font-size: larger;
    color: rgb(255, 255, 255); 
    text-align: center;
}

p{font-size: medium;
    color: rgb(255, 255, 255);
    text-align: justify;
}
img{width: 700px !important;
    height: 600px !important;
margin-left: 600px;
}

h2{
    text-align: center;
    font-size: 30px;
    color: rgb(255, 255, 255);
}